nav{
    width: 100%;
    height: 60px;
    background-color: #344051;
    position: fixed;
    z-index: 5;
}
.logo{
    font-family: "Arial", sans-serif;
    line-height: 60px;
    font-size: 28px;
    color: #fff;
    float: left;
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease;
    animation: comming 2s ease;
}
.menu{
    float: left;
}

.menu li{
    float: left;
    color: #fff;
    font-size: 14px;
    font-family: "Arial", sans-serif;
    margin-right: 40px;
    line-height: 60px;
    text-transform: uppercase;
    opacity: 0;
    -webkit-animation: menuComing 0.2s ease forwards;
    -o-animation: menuComing 0.2s ease forwards;
    animation: menuComing 0.2s ease forwards;
}
.menu li a{
    transition: all 0.5s;
    color: #fff;
    transform: scale(1);
    display: inline-block;
    text-decoration: none;
}
.menu li a:visited{
    color: #fff;    
}
.menu li a:hover{
    color: #f29417;
}
.menu li a:active{
    transform: scale(1.5);
}
.white-btn:visited{
    color: white;
}
@keyframes comming{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes menuComing{
    from{
        margin-top: -80px;
       opacity: 0;
    }
    to{
       margin-top: 0px;
        opacity: 1;
    }
}
.menu li:nth-child(2){
    animation-delay: 0.2s;
}
.menu li:nth-child(3){
    animation-delay: 0.4s;
}
.menu li:nth-child(4){
    animation-delay: 0.6s;
}
.menu li:nth-child(5){
    animation-delay: 0.8s;
}
.menu li:nth-child(6){
    animation-delay: 1.0s;
}

main{
    width: 100%;
    height: 100%;
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/bg.jpg) center/cover no-repeat;
}
.title_container{
    color: #76828f;
    text-align: center;
    font-family: Arial, sans-serif;
    
    opacity: 0;
    -webkit-animation: titleComing 1s ease forwards;
    -o-animation: titleComing 1s ease forwards;
    animation: titleComing 1s ease forwards;
    -webkit-animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    animation-delay: 1.2s;
}
.title_container h1{
    color: #21354a;
    font-size: 72px;
    font-weight: bold;
}
.title_container h4{
    margin-top: 35px;
    font-size: 16px;
    font-weight: bold;
}
.title_container button{
    margin: 45px 15px 0px 15px;
    height: 40px;
    border: 2px solid #79818d;
    color: #79818d;
    border-radius: 5px;
    background: none;
    font-size: 15px;
    font-weight: bold;
    padding: 0px 16px;
    transition: all 0.2s;
    transform: scale(1);
}
.title_container button:hover{
    background: #344051;
    color: white;
}
.title_container button:active{
    transform: scale(1.3);
}
@keyframes titleComing{
    from{
        margin-left: -500px;
       opacity: 0;
    }
    to{
       margin-left: 0px;
        opacity: 1;
    }
}
@media (max-width: 991px){
    .title_container h1, .title_container h4, .title_container button{
        color: white;
        position: relative;
        z-index: 5;
    } 
    .main{
        position: relative;
    }
    .main::after{
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        background: rgba(0,0,0,0.4);
    }
}
   
.header {
    font-family: "Arial", sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #263244;
    }
.about p{
    color: #38485b;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
.about button{
   
    background: none;
    line-height 45px;
    font-family: "Franklin Gothic Medium", sans-serif;
    font-size: 25px;
    color: #7b7c88;
    padding-left: 35px;
    padding-right: 15px;
    background: url(../img/icon.png) 5% 50%/auto 70% no-repeat;
    border: 2px solid;
    border-radius: 5px;
}

.skills{
    background: url(../img/bg-skills.jpg) center/cover no-repeat;
    
}
.custom{
    border: 2px solid;
}
.skills h2{
    font-size: 15px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 15px;
    color: #cf7600;
}
.skills p{
    font-family: "Franklin Gothic Medium", sans-serif;
    font-size: 14px;
    color: #626a77;
    font-weight: bold;
}

.examples{
    height: 1150px;
}
.examples p{
    font-family: Calibri, sans-serif;
    font-size: 13px;
    color: #536070;
    font-weight: bold;
}
.examples h3{
    font-size: 18px;
    font-family: "Franklin Gothic Medium", sans-serif;
    font-weight: bold;
}
.examples span{
    font-size: 16px;
    font-family: Calibri, sans-serif;
    color: #536070;
}
.examples button{
    border-radius: 5px;
    background-color: #63b5ae;
    padding: 10px 25px;
    color: #fff;
    font-size: 18px;
    font-family: "Franklin Gothic Medium", sans-serif;
    transform: scale(1);
}
.examples button:hover{
    background: aqua;
}
.examples button:active{
    transform: scale(1.3);
}
.price{
    height: 90%;
}
.price-form{    
    height: 800px;
    box-shadow: 5px 5px 5px 5px grey;
}
.price h2{
    color: #102031;
    font-family: "Franklin Gothic Medium", sans-serif;
}
.price h3{
    
    color: #102031;
    font-family: "Franklin Gothic Medium", sans-serif;
}
.price h5{
    color: #102031;
    font-family: "Franklin Gothic Medium", sans-serif;
}
.price h4{
    color: #102031;
    font-family: "Franklin Gothic Medium", sans-serif;
}
select{
    padding-left: 20px;
    margin-top: 20px;
    width: 100%;
    height: 60px;
    background-color: #efefef;
}
.price button{
    border-radius: 5px;
    background-color: #63b5ae;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
    font-family: "Franklin Gothic Medium", sans-serif;
    transform: scale(1);
}
.price button:hover{
    background: aqua;
}
.price button:active{
    transform: scale(1.3);
}
.statistics{
    background: url(../img/stat-bg.jpg) center/cover no-repeat;
}
.statistics h2{
    color: #283b4e;
    font-size: 28px;
    font-weight: bold;  
}
.statistics p{
    color: #283b4e;
    font-size: 12px;
}
.comments{
    height: 60%;
}
.custom_tochki{
    margin-right: 7px;
}
.contacts{
    background: url(../img/bg-contacts.jpg) center/cover no-repeat;
}
.contacts_header{
    color:#fff;
    font-family: "Franklin Gothic Medium", sans-serif;
    font-size: 22px;
    font-weight: bold;
}
.contacts p{
    color:#fff;
    font-size: 13px;
    font-family: Calibri, sans-serif;
    
}
.custom-icon{
    color: #fff;
    font-size: 26px;
}
.contacts h4{
    color: #fff;
    font-size: 16px;
    font-family: "Franklin Gothic", sans-serif;
}
.contacts input{
   
    background: #d0d6dc;
    
    
}
.textarea_custom{
    background: #d0d6dc;
    
}
input.button-send{
    padding: 5px 10px; 
    border: 2px solid #fff;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0);
    color: #fff;
    font-size: 18px;
    font-family: "Franklin Gothic Medium", sans-serif;
    transform: scale(1);
}
input.button-send:hover{
    background: aqua;
}
input.button-send:active{
    transform: scale(1.2);
}


